body {
  font-family: Arial;
}

/* Todos los h1 */
h1 {
  text-align: center;
  margin: auto;
}

/*Todos los h2 */
h2 {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: #000;
}

h3 {
  margin: 20px 60px 20px 60px;
}

/* Todos los h4 */
h4 {
  margin-left: 20px;
  text-decoration: underline;
}

ul,
ol {
  margin: 20px 60px 20px 60px;
}

h5 {
  margin-left: 20px;
}

/* Todos los p */
p {
  text-align: justify;
  margin: 20px 60px 20px 60px;
}

table {
  margin: 0 auto;
}

/* CLASES GENERALES */
.Texto_encabezado {
  height: 50px;
  background-color: #da8204;
  color: #fff;
  margin: 0;
}

#contenedor {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: #f2f1f2;
}

/* ZONA DEL LOGO */
header {
  height: 139px;
  width: 100%;
  /*background-color: #FF0;*/
  background-repeat: no-repeat;
  background-image: url('https://i.ibb.co/smDJQD0/bannerr.png');
  background-position: center;
}

/*  ZONA CUERPO */
section {
  height: 100%;
  /*background-color: #C60;*/
}

footer {
  height: 50px;
  width: 100%;
  background-color: #da8204;
  color: #fff;
}

.Footer {
  text-align: left;
  height: 45px;
  margin: 0;
}
